$ErrorActionPreference = "Stop"

if ($env:TF_BUILD) {
    Write-Host "##[group]Install .NET SDK"
}

{% if 'net6.0' in target_frameworks -%}
./build/dotnet-install.ps1 -Channel 6.0 -Runtime dotnet
{%- endif %}
{% if 'net7.0' in target_frameworks -%}
./build/dotnet-install.ps1 -Channel 7.0 -Runtime dotnet
{%- endif %}

# Install SDK and runtime as specified in global.json
./build/dotnet-install.ps1 -JsonFile "$PSScriptRoot/global.json"

Invoke-Expression "dotnet --info"

if ($env:TF_BUILD) {
    Write-Host "##[endgroup]"
}

dotnet run --project build/workflow -- $args
exit $LASTEXITCODE