// Disable nullable reference methods for the alias method, since
// the Cake.Scripting runner is currently not compatible with aliases that contains nullabilty annotations
// See https://github.com/cake-build/cake/issues/4197
#nullable disable

using Cake.Core;
using Cake.Core.Annotations;
using Cake.Core.IO;

namespace Cake.{{addin_name}};

[CakeAliasCategory("{{addin_name}}")]
[CakeNamespaceImport("Cake.{{addin_name}}")]
public static class {{addin_name}}Aliases
{    
    //[CakeMethodAlias]
    //public static void {{addin_name}}(this ICakeContext context, ...) => ...;
}
